n8n-workflows/01-quality-alert.json
{
  "name": "Atlas — Quality Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atlas-quality-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c4a7f2b1-0001-4c8d-a9e3-000000000011",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "c4a7f2b1-0001-4c8d-a9e3-000000000010"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c4a7f2b1-0001-4c8d-a9e3-000000000019",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "quality_dropped",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4a7f2b1-0001-4c8d-a9e3-000000000012",
      "name": "Only quality_dropped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": { "value": "SLACK_CHANNEL_ID", "mode": "id" },
        "text": ":warning: *Calidad bajó* en `{{ $json.phoneNumber }}`\n• Producto: {{ $json.productName ?? $json.productSlug }}\n• Calidad anterior: {{ $json.data.from }}\n• Calidad nueva: {{ $json.data.to }}\n• _{{ $now.format('dd/MM/yyyy HH:mm') }}_",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "c4a7f2b1-0001-4c8d-a9e3-000000000013",
      "name": "Slack — calidad",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 220],
      "credentials": {
        "slackOAuth2Api": { "id": "REPLACE_SLACK_CRED_ID", "name": "Slack Atlas" }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": { "value": "NOTION_DB_ALERTS_ID", "mode": "id" },
        "title": "Calidad bajó — {{ $json.phoneNumber }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Tipo", "type": "select", "selectValue": "quality_dropped" },
            { "key": "Número", "type": "rich_text", "textContent": "={{ $json.phoneNumber }}" },
            { "key": "Producto", "type": "rich_text", "textContent": "={{ $json.productName ?? $json.productSlug }}" },
            { "key": "Detalle", "type": "rich_text", "textContent": "={{ JSON.stringify($json.data) }}" },
            { "key": "Fecha", "type": "date", "dateValue": "={{ $now.toISO() }}" }
          ]
        }
      },
      "id": "c4a7f2b1-0001-4c8d-a9e3-000000000014",
      "name": "Notion — log calidad",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 380],
      "credentials": {
        "notionApi": { "id": "REPLACE_NOTION_CRED_ID", "name": "Notion Atlas" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}"
      },
      "id": "c4a7f2b1-0001-4c8d-a9e3-000000000015",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Only quality_dropped", "type": "main", "index": 0 }]]
    },
    "Only quality_dropped": {
      "main": [
        [
          { "node": "Slack — calidad", "type": "main", "index": 0 },
          { "node": "Notion — log calidad", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack — calidad": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "staticData": null,
  "active": false,
  "versionId": "c4a7f2b1-0001-4c8d-a9e3-000000000001",
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
