n8n-workflows/03-daily-health.json
{
  "name": "Atlas — Daily Health Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      },
      "id": "c4a7f2b1-0003-4c8d-a9e3-000000000031",
      "name": "Cron — 8am lunes a viernes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://atlas.ebooksdgg.lat/api/numbers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-atlas-cron-secret", "value": "={{ $vars.ATLAS_CRON_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "c4a7f2b1-0003-4c8d-a9e3-000000000032",
      "name": "GET /api/numbers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_ATLAS_HEADER_CRED_ID", "name": "Atlas cron header" }
      }
    },
    {
      "parameters": {
        "jsCode": "const numbers = $input.first().json;\nconst total = numbers.length;\nconst green = numbers.filter(n => n.qualityRating === 'GREEN').length;\nconst yellow = numbers.filter(n => n.qualityRating === 'YELLOW').length;\nconst red = numbers.filter(n => n.qualityRating === 'RED').length;\nconst disconnected = numbers.filter(n => n.status === 'disconnected').length;\nconst banned = numbers.filter(n => n.status === 'banned').length;\nconst active = numbers.filter(n => n.status === 'active').length;\nconst paused = numbers.filter(n => n.status === 'paused').length;\n\nconst byProduct = {};\nfor (const n of numbers) {\n  const key = n.productName ?? n.productSlug ?? 'Sin producto';\n  if (!byProduct[key]) byProduct[key] = { active: 0, paused: 0, disconnected: 0 };\n  byProduct[key][n.status] = (byProduct[key][n.status] ?? 0) + 1;\n}\n\nconst productLines = Object.entries(byProduct)\n  .map(([k, v]) => `  • ${k}: ${v.active} activos, ${v.paused} pausados, ${v.disconnected} caídos`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    total, green, yellow, red, disconnected, banned, active, paused, productLines,\n    hasIssues: red > 0 || disconnected > 0 || banned > 0\n  }\n}];"
      },
      "id": "c4a7f2b1-0003-4c8d-a9e3-000000000033",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=:bar_chart: *Reporte diario Atlas* — {{ $now.format('dd/MM/yyyy') }}\n\n*Números activos:* {{ $json.active }} / {{ $json.total }}\n*Calidad:* :green_circle: {{ $json.green }} verde · :yellow_circle: {{ $json.yellow }} amarillo · :red_circle: {{ $json.red }} rojo\n*Estado:* {{ $json.paused }} pausados · {{ $json.disconnected }} caídos · {{ $json.banned }} baneados\n\n*Por producto:*\n{{ $json.productLines }}\n\n{{ $json.hasIssues ? ':warning: Hay números que requieren atención.' : ':white_check_mark: Todo en orden.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4a7f2b1-0003-4c8d-a9e3-000000000034",
      "name": "Slack — reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "fromEmail": "atlas@ebooksdgg.lat",
        "toEmail": "luchoeditor@gmail.com",
        "subject": "Atlas Daily Report — {{ $now.format('dd/MM/yyyy') }}",
        "text": "Reporte diario Atlas — {{ $now.format('dd/MM/yyyy') }}\n\nNúmeros activos: {{ $json.active }} / {{ $json.total }}\nCalidad: {{ $json.green }} verde, {{ $json.yellow }} amarillo, {{ $json.red }} rojo\nEstado: {{ $json.paused }} pausados, {{ $json.disconnected }} caídos, {{ $json.banned }} baneados\n\nPor producto:\n{{ $json.productLines }}\n\n{{ $json.hasIssues ? 'ATENCIÓN: hay números que requieren revisión.' : 'Todo en orden.' }}\n\n— Atlas"
      },
      "id": "c4a7f2b1-0003-4c8d-a9e3-000000000035",
      "name": "Email — reporte",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 380],
      "credentials": {
        "smtp": { "id": "REPLACE_SMTP_CRED_ID", "name": "SMTP Atlas" }
      }
    }
  ],
  "connections": {
    "Cron — 8am lunes a viernes": {
      "main": [[{ "node": "GET /api/numbers", "type": "main", "index": 0 }]]
    },
    "GET /api/numbers": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    },
    "Summarize": {
      "main": [
        [
          { "node": "Slack — reporte", "type": "main", "index": 0 },
          { "node": "Email — reporte", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "staticData": null,
  "active": false,
  "versionId": "c4a7f2b1-0003-4c8d-a9e3-000000000003",
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
